/* Thêm CSS inline để tạo màu sắc cho phần tử HTML */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.section {
    background-color: #4CAF50;
    color: white;
    padding: 40px;
    text-align: center;
}

.advertisement {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.contact {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.contact h2 {
    margin-bottom: 20px;
    color: #333; /* Màu chữ đen */
}

.contact p {
    margin-bottom: 10px;
}

.contact a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
} 